  $icon-digg-1x-x: 84px;
  $icon-digg-1x-y: 0px;
  $icon-digg-1x-offset-x: -84px;
  $icon-digg-1x-offset-y: 0px;
  $icon-digg-1x-width: 64px;
  $icon-digg-1x-height: 64px;
  $icon-digg-1x-total-width: 316px;
  $icon-digg-1x-total-height: 316px;
  $icon-digg-1x-image: '../img/sprite.png';
  $icon-digg-1x: 84px 0px -84px 0px 64px 64px 316px 316px '../img/sprite.png';
  $icon-dribbble-1x-x: 84px;
  $icon-dribbble-1x-y: 168px;
  $icon-dribbble-1x-offset-x: -84px;
  $icon-dribbble-1x-offset-y: -168px;
  $icon-dribbble-1x-width: 64px;
  $icon-dribbble-1x-height: 64px;
  $icon-dribbble-1x-total-width: 316px;
  $icon-dribbble-1x-total-height: 316px;
  $icon-dribbble-1x-image: '../img/sprite.png';
  $icon-dribbble-1x: 84px 168px -84px -168px 64px 64px 316px 316px '../img/sprite.png';
  $icon-facebook-1x-x: 0px;
  $icon-facebook-1x-y: 84px;
  $icon-facebook-1x-offset-x: 0px;
  $icon-facebook-1x-offset-y: -84px;
  $icon-facebook-1x-width: 64px;
  $icon-facebook-1x-height: 64px;
  $icon-facebook-1x-total-width: 316px;
  $icon-facebook-1x-total-height: 316px;
  $icon-facebook-1x-image: '../img/sprite.png';
  $icon-facebook-1x: 0px 84px 0px -84px 64px 64px 316px 316px '../img/sprite.png';
  $icon-flickr-1x-x: 84px;
  $icon-flickr-1x-y: 84px;
  $icon-flickr-1x-offset-x: -84px;
  $icon-flickr-1x-offset-y: -84px;
  $icon-flickr-1x-width: 64px;
  $icon-flickr-1x-height: 64px;
  $icon-flickr-1x-total-width: 316px;
  $icon-flickr-1x-total-height: 316px;
  $icon-flickr-1x-image: '../img/sprite.png';
  $icon-flickr-1x: 84px 84px -84px -84px 64px 64px 316px 316px '../img/sprite.png';
  $icon-forrst-1x-x: 168px;
  $icon-forrst-1x-y: 0px;
  $icon-forrst-1x-offset-x: -168px;
  $icon-forrst-1x-offset-y: 0px;
  $icon-forrst-1x-width: 64px;
  $icon-forrst-1x-height: 64px;
  $icon-forrst-1x-total-width: 316px;
  $icon-forrst-1x-total-height: 316px;
  $icon-forrst-1x-image: '../img/sprite.png';
  $icon-forrst-1x: 168px 0px -168px 0px 64px 64px 316px 316px '../img/sprite.png';
  $icon-google-1x-x: 168px;
  $icon-google-1x-y: 84px;
  $icon-google-1x-offset-x: -168px;
  $icon-google-1x-offset-y: -84px;
  $icon-google-1x-width: 64px;
  $icon-google-1x-height: 64px;
  $icon-google-1x-total-width: 316px;
  $icon-google-1x-total-height: 316px;
  $icon-google-1x-image: '../img/sprite.png';
  $icon-google-1x: 168px 84px -168px -84px 64px 64px 316px 316px '../img/sprite.png';
  $icon-html5-1x-x: 0px;
  $icon-html5-1x-y: 168px;
  $icon-html5-1x-offset-x: 0px;
  $icon-html5-1x-offset-y: -168px;
  $icon-html5-1x-width: 64px;
  $icon-html5-1x-height: 64px;
  $icon-html5-1x-total-width: 316px;
  $icon-html5-1x-total-height: 316px;
  $icon-html5-1x-image: '../img/sprite.png';
  $icon-html5-1x: 0px 168px 0px -168px 64px 64px 316px 316px '../img/sprite.png';
  $icon-lastfm-1x-x: 0px;
  $icon-lastfm-1x-y: 0px;
  $icon-lastfm-1x-offset-x: 0px;
  $icon-lastfm-1x-offset-y: 0px;
  $icon-lastfm-1x-width: 64px;
  $icon-lastfm-1x-height: 64px;
  $icon-lastfm-1x-total-width: 316px;
  $icon-lastfm-1x-total-height: 316px;
  $icon-lastfm-1x-image: '../img/sprite.png';
  $icon-lastfm-1x: 0px 0px 0px 0px 64px 64px 316px 316px '../img/sprite.png';
  $icon-linkedin-1x-x: 168px;
  $icon-linkedin-1x-y: 168px;
  $icon-linkedin-1x-offset-x: -168px;
  $icon-linkedin-1x-offset-y: -168px;
  $icon-linkedin-1x-width: 64px;
  $icon-linkedin-1x-height: 64px;
  $icon-linkedin-1x-total-width: 316px;
  $icon-linkedin-1x-total-height: 316px;
  $icon-linkedin-1x-image: '../img/sprite.png';
  $icon-linkedin-1x: 168px 168px -168px -168px 64px 64px 316px 316px '../img/sprite.png';
  $icon-skype-1x-x: 252px;
  $icon-skype-1x-y: 0px;
  $icon-skype-1x-offset-x: -252px;
  $icon-skype-1x-offset-y: 0px;
  $icon-skype-1x-width: 64px;
  $icon-skype-1x-height: 64px;
  $icon-skype-1x-total-width: 316px;
  $icon-skype-1x-total-height: 316px;
  $icon-skype-1x-image: '../img/sprite.png';
  $icon-skype-1x: 252px 0px -252px 0px 64px 64px 316px 316px '../img/sprite.png';
  $icon-tumblr-1x-x: 252px;
  $icon-tumblr-1x-y: 84px;
  $icon-tumblr-1x-offset-x: -252px;
  $icon-tumblr-1x-offset-y: -84px;
  $icon-tumblr-1x-width: 64px;
  $icon-tumblr-1x-height: 64px;
  $icon-tumblr-1x-total-width: 316px;
  $icon-tumblr-1x-total-height: 316px;
  $icon-tumblr-1x-image: '../img/sprite.png';
  $icon-tumblr-1x: 252px 84px -252px -84px 64px 64px 316px 316px '../img/sprite.png';
  $icon-twitter-1x-x: 252px;
  $icon-twitter-1x-y: 168px;
  $icon-twitter-1x-offset-x: -252px;
  $icon-twitter-1x-offset-y: -168px;
  $icon-twitter-1x-width: 64px;
  $icon-twitter-1x-height: 64px;
  $icon-twitter-1x-total-width: 316px;
  $icon-twitter-1x-total-height: 316px;
  $icon-twitter-1x-image: '../img/sprite.png';
  $icon-twitter-1x: 252px 168px -252px -168px 64px 64px 316px 316px '../img/sprite.png';
  $icon-vimeo-1x-x: 0px;
  $icon-vimeo-1x-y: 252px;
  $icon-vimeo-1x-offset-x: 0px;
  $icon-vimeo-1x-offset-y: -252px;
  $icon-vimeo-1x-width: 64px;
  $icon-vimeo-1x-height: 64px;
  $icon-vimeo-1x-total-width: 316px;
  $icon-vimeo-1x-total-height: 316px;
  $icon-vimeo-1x-image: '../img/sprite.png';
  $icon-vimeo-1x: 0px 252px 0px -252px 64px 64px 316px 316px '../img/sprite.png';
  $icon-yahoo-1x-x: 84px;
  $icon-yahoo-1x-y: 252px;
  $icon-yahoo-1x-offset-x: -84px;
  $icon-yahoo-1x-offset-y: -252px;
  $icon-yahoo-1x-width: 64px;
  $icon-yahoo-1x-height: 64px;
  $icon-yahoo-1x-total-width: 316px;
  $icon-yahoo-1x-total-height: 316px;
  $icon-yahoo-1x-image: '../img/sprite.png';
  $icon-yahoo-1x: 84px 252px -84px -252px 64px 64px 316px 316px '../img/sprite.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
