  $icon-digg-2x-x: 168px;
  $icon-digg-2x-y: 0px;
  $icon-digg-2x-offset-x: -168px;
  $icon-digg-2x-offset-y: 0px;
  $icon-digg-2x-width: 128px;
  $icon-digg-2x-height: 128px;
  $icon-digg-2x-total-width: 632px;
  $icon-digg-2x-total-height: 632px;
  $icon-digg-2x-image: '../img/sprite-2x.png';
  $icon-digg-2x: 168px 0px -168px 0px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-dribbble-2x-x: 168px;
  $icon-dribbble-2x-y: 336px;
  $icon-dribbble-2x-offset-x: -168px;
  $icon-dribbble-2x-offset-y: -336px;
  $icon-dribbble-2x-width: 128px;
  $icon-dribbble-2x-height: 128px;
  $icon-dribbble-2x-total-width: 632px;
  $icon-dribbble-2x-total-height: 632px;
  $icon-dribbble-2x-image: '../img/sprite-2x.png';
  $icon-dribbble-2x: 168px 336px -168px -336px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-facebook-2x-x: 0px;
  $icon-facebook-2x-y: 168px;
  $icon-facebook-2x-offset-x: 0px;
  $icon-facebook-2x-offset-y: -168px;
  $icon-facebook-2x-width: 128px;
  $icon-facebook-2x-height: 128px;
  $icon-facebook-2x-total-width: 632px;
  $icon-facebook-2x-total-height: 632px;
  $icon-facebook-2x-image: '../img/sprite-2x.png';
  $icon-facebook-2x: 0px 168px 0px -168px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-flickr-2x-x: 168px;
  $icon-flickr-2x-y: 168px;
  $icon-flickr-2x-offset-x: -168px;
  $icon-flickr-2x-offset-y: -168px;
  $icon-flickr-2x-width: 128px;
  $icon-flickr-2x-height: 128px;
  $icon-flickr-2x-total-width: 632px;
  $icon-flickr-2x-total-height: 632px;
  $icon-flickr-2x-image: '../img/sprite-2x.png';
  $icon-flickr-2x: 168px 168px -168px -168px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-forrst-2x-x: 336px;
  $icon-forrst-2x-y: 0px;
  $icon-forrst-2x-offset-x: -336px;
  $icon-forrst-2x-offset-y: 0px;
  $icon-forrst-2x-width: 128px;
  $icon-forrst-2x-height: 128px;
  $icon-forrst-2x-total-width: 632px;
  $icon-forrst-2x-total-height: 632px;
  $icon-forrst-2x-image: '../img/sprite-2x.png';
  $icon-forrst-2x: 336px 0px -336px 0px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-google-2x-x: 336px;
  $icon-google-2x-y: 168px;
  $icon-google-2x-offset-x: -336px;
  $icon-google-2x-offset-y: -168px;
  $icon-google-2x-width: 128px;
  $icon-google-2x-height: 128px;
  $icon-google-2x-total-width: 632px;
  $icon-google-2x-total-height: 632px;
  $icon-google-2x-image: '../img/sprite-2x.png';
  $icon-google-2x: 336px 168px -336px -168px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-html5-2x-x: 0px;
  $icon-html5-2x-y: 336px;
  $icon-html5-2x-offset-x: 0px;
  $icon-html5-2x-offset-y: -336px;
  $icon-html5-2x-width: 128px;
  $icon-html5-2x-height: 128px;
  $icon-html5-2x-total-width: 632px;
  $icon-html5-2x-total-height: 632px;
  $icon-html5-2x-image: '../img/sprite-2x.png';
  $icon-html5-2x: 0px 336px 0px -336px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-lastfm-2x-x: 0px;
  $icon-lastfm-2x-y: 0px;
  $icon-lastfm-2x-offset-x: 0px;
  $icon-lastfm-2x-offset-y: 0px;
  $icon-lastfm-2x-width: 128px;
  $icon-lastfm-2x-height: 128px;
  $icon-lastfm-2x-total-width: 632px;
  $icon-lastfm-2x-total-height: 632px;
  $icon-lastfm-2x-image: '../img/sprite-2x.png';
  $icon-lastfm-2x: 0px 0px 0px 0px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-linkedin-2x-x: 336px;
  $icon-linkedin-2x-y: 336px;
  $icon-linkedin-2x-offset-x: -336px;
  $icon-linkedin-2x-offset-y: -336px;
  $icon-linkedin-2x-width: 128px;
  $icon-linkedin-2x-height: 128px;
  $icon-linkedin-2x-total-width: 632px;
  $icon-linkedin-2x-total-height: 632px;
  $icon-linkedin-2x-image: '../img/sprite-2x.png';
  $icon-linkedin-2x: 336px 336px -336px -336px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-skype-2x-x: 504px;
  $icon-skype-2x-y: 0px;
  $icon-skype-2x-offset-x: -504px;
  $icon-skype-2x-offset-y: 0px;
  $icon-skype-2x-width: 128px;
  $icon-skype-2x-height: 128px;
  $icon-skype-2x-total-width: 632px;
  $icon-skype-2x-total-height: 632px;
  $icon-skype-2x-image: '../img/sprite-2x.png';
  $icon-skype-2x: 504px 0px -504px 0px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-tumblr-2x-x: 504px;
  $icon-tumblr-2x-y: 168px;
  $icon-tumblr-2x-offset-x: -504px;
  $icon-tumblr-2x-offset-y: -168px;
  $icon-tumblr-2x-width: 128px;
  $icon-tumblr-2x-height: 128px;
  $icon-tumblr-2x-total-width: 632px;
  $icon-tumblr-2x-total-height: 632px;
  $icon-tumblr-2x-image: '../img/sprite-2x.png';
  $icon-tumblr-2x: 504px 168px -504px -168px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-twitter-2x-x: 504px;
  $icon-twitter-2x-y: 336px;
  $icon-twitter-2x-offset-x: -504px;
  $icon-twitter-2x-offset-y: -336px;
  $icon-twitter-2x-width: 128px;
  $icon-twitter-2x-height: 128px;
  $icon-twitter-2x-total-width: 632px;
  $icon-twitter-2x-total-height: 632px;
  $icon-twitter-2x-image: '../img/sprite-2x.png';
  $icon-twitter-2x: 504px 336px -504px -336px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-vimeo-2x-x: 0px;
  $icon-vimeo-2x-y: 504px;
  $icon-vimeo-2x-offset-x: 0px;
  $icon-vimeo-2x-offset-y: -504px;
  $icon-vimeo-2x-width: 128px;
  $icon-vimeo-2x-height: 128px;
  $icon-vimeo-2x-total-width: 632px;
  $icon-vimeo-2x-total-height: 632px;
  $icon-vimeo-2x-image: '../img/sprite-2x.png';
  $icon-vimeo-2x: 0px 504px 0px -504px 128px 128px 632px 632px '../img/sprite-2x.png';
  $icon-yahoo-2x-x: 168px;
  $icon-yahoo-2x-y: 504px;
  $icon-yahoo-2x-offset-x: -168px;
  $icon-yahoo-2x-offset-y: -504px;
  $icon-yahoo-2x-width: 128px;
  $icon-yahoo-2x-height: 128px;
  $icon-yahoo-2x-total-width: 632px;
  $icon-yahoo-2x-total-height: 632px;
  $icon-yahoo-2x-image: '../img/sprite-2x.png';
  $icon-yahoo-2x: 168px 504px -168px -504px 128px 128px 632px 632px '../img/sprite-2x.png';

